.alt-screen-header{
    display: flex;
    justify-content: space-between;
    padding: var(--page_space);
    align-items: center;
     margin-bottom: 15px;
}

.alt-screen-header__title{
    font-size: 24px;
    font-weight: 600;
}

.alt-screen-header__column span:last-child{
    margin-left:20px;
}