.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  /*padding 때문에 ellipsis 가 밖으로 나가버림, box-sizing 으로 해결가능!*/
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

@keyframes spinNotification{
  0%{
    transform: none;
  }
  50%{
    transform: translateY(-5px); 
  }
  100%{
    transform: none;
  }
}


.nav__notification {
  position: absolute;
  right: -15px;
  bottom: 15px;
  animation: spinNotification 2s ease-in-out infinite;
  
  
}

.nav__elipsis {
  background-color: tomato;
  height: 7px;
  width: 7px;
  border-radius: 3.5px;
  position: absolute;
  right: -5px;
  bottom: 28px;
}
